@model SimpleHotelIS.Models.Platba

@{Html.BeginForm( "Create", "Platba", FormMethod.Post, new { @class = "form-horizontal" });}
<div class="control-group">
@Html.LabelFor(p=>p.Id, new { @class = "control-label" }) 
<div class="controls">
@Html.EditorFor(p=>p.Id) @Html.ValidationMessageFor(p=>p.Id)
</div>
</div>
<input type="submit" value="Create Platba" class="btn"/>
@{Html.EndForm();}
